<head th:fragment="mihead">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${titulo}">Título de la página</title>
  <meta name="description" content="">
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/webjars/font-awesome/css/all.css" rel="stylesheet">


  <style>
    body {
      padding-bottom: 20px;
    }
    .navbar {
      margin-bottom: 20px;
    }
    #espaciado {
      padding: 30px;
    }

  </style>
</head>
