<!DOCTYPE html>
<html lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="usuarios" class="navbar navbar-expand-lg bg-light  navbar-light" style="--bs-bg-opacity: .8;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-skull-crossbones fa-fade"></i>CRUD Usuario</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="user">Listado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buscar">Buscar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            CRUD
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="nuevo">Crear</a></li>
            <li><a class="dropdown-item" href="#">Actualiazar</a></li>
            <li><a class="dropdown-item" href="#">Borrar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Formularios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/formulario">Formulario básico</a></li>
            <li><a class="dropdown-item" href="/formulario-avanzado">Formulario avanzado</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Registros del formulario</a></li>
            <li><a class="dropdown-item" href="#">Envío por email</a></li>
          </ul>
        </li>

      </ul>



    </div>
  </div>
</nav>
</body>
</html>