<footer th:fragment="javascript"
        class="footer fixed-bottom mt-auto py-1 bg-dark d-flex justify-content-between" style="--bs-bg-opacity: .8;">

        <!-- Left -->
        <div class="me-1 text-light">
            <span> © 2023 Copyright by Perico Palotes SL</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="text-light me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="text-light me-2"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-light me-2"><i class="fab fa-google"></i></a>
            <a href="" class="text-light me-2"><i class="fab fa-instagram"></i></a>
            <a href="" class="text-light me-2"><i class="fab fa-linkedin"></i></a>
        </div>
        <!-- Right -->

    <script src="webjars/jsquery/jquery.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</footer>

